form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formControl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.formControl input {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 8px;
  width: 200px;
}
.formControl input:focus {
  border: 2px solid #7c3aed;
}
form button {
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 20px;
  padding: 8px 12px;
  color: #fff;
  background-color: #7c3aed;
  border-radius: 5px;
}