.App {
  background-color: #f6f6f6;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 20px;
}
h1 {
  border-bottom: 1px solid #ccc;
  color: #444;
  padding-bottom: 10px;
  font-size: 25px;
}